{% extends "base.html" %}

{% block content %}
<h2>Bem-vindo(a), {{ current_user.name }}!</h2>

{% if user_groups %}
    <h3>Grupos que você pertence</h3>
    <div class="group-buttons mb-4">
        {% for group in user_groups %}
            <form action="{{ url_for('main.group_details', group_id=group.id) }}" method="GET" style="display: inline-block; margin: 5px;">
                <button type="submit" class="btn btn-primary">{{ group.name }}</button>
            </form>
        {% endfor %}
    </div>
{% else %}
    <p>Você ainda não está participando de nenhum grupo.</p>
{% endif %}
{% endblock %}
